<div class="checkIn-page">
    <div class="row">
        <h2 class="page-title col-sm-6">tap to check-in !</h2>
    </div>
    <div class="row">
        <div class="section-content col-sm-10">
            
            
        </div>
    </div>



</div>